extends layout

block content

      table.table.table-hover
        thead
          tr
            th Name
            th Stadium
            th Founded
            th Location
            th Manager
        tbody
          each team in data
            tr
              td= team.name
              td= team.stadium
              td= team.founded
              td= team.location
              td= team.manager
